
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hey <%= @user.email %>!</h3>
    <p>Thanks for joining and have a great day! Now reset the password and do
awesome things!</p>
<a href="<%= edit_password_reset_url(@user.password_reset_token)%>"> <b>click for confirm registration</b></a>
</body>
</html>
