<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Thanks </h1>
      
      <p>
         You have successfully subscribed to the <%=@plan.plan_name%> plan. <br>
         Your current balance is <%=@user.time_wallet%>.
      </p>
      
   </body>
</html>