<div class="container">
    <div class="row">
    <div class="col-md-9">
        <ul id="conversations-list">
        <% @conversations.each do |conversation| %>
            <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
        <% end %>
        </ul>
    </div>

    <div class="col-md-3">
        <div class="card">
        <div class="card-header">
            <h3 class="card-title">User list</h3>
        </div>
        <div class="card-body">
            <ul>
            <% @bookings.each do |booking| %>
                <%if current_user.user_type_id==2%>
                    <li><%= link_to booking.user.email, conversations_path(user_id: booking.user), remote: true, method: :post %></li>
                <%else%>
                    <li><%= link_to booking.space.user.email, conversations_path(user_id: booking.space.user), remote: true, method: :post %></li>
                <%end%>
            <% end %>
            </ul>
        </div>
        </div>
    </div>
    </div>
</div>

