<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
>>>>>>> 541cfcb6a5c45fecfe57d36695eb3a086b7b7eb5
>>>>>>> c03634edb189b857293e9ad3b7dc269b87d05b36
<!DOCKTYPE html>
<head>

<title> User details form</title>
</head>
<body>

<h1> Userdetailsform </h1>
<div class="Userform">
<form method="post" id="Userform" action=" ">
<label> First name :</label><br>
<<<<<<< HEAD
=======
<<<<<<< HEAD
<input type="text" name="Firstname" id="name"><br><br>
<label> Last name :</label><br>
<input type="text" name="Lastname" id="name"><br><br>
<label> Education details :</label><br>
<input type="text" name="Educationdetails" id="details"><br><br>
<label> About User :</label><br>
<input type="text" name="AboutUser" id="aboutuser"><br><br>
=======
>>>>>>> c03634edb189b857293e9ad3b7dc269b87d05b36
<input type="text" name="Fname" id="name"><br><br>
<label> Last name :</label><br>
<input type="text" name="Lname" id="name"><br><br>
<label> Education details :</label><br>
<input type="text" name="Edudetails" id="details"><br><br>
<label> About User :</label><br>
<input type="text" name="AbUser" id="aboutuser"><br><br>
<<<<<<< HEAD
=======
>>>>>>> 541cfcb6a5c45fecfe57d36695eb3a086b7b7eb5
>>>>>>> c03634edb189b857293e9ad3b7dc269b87d05b36
<label> City :</label><br>
<input type="text" name="City" id="city"><br><br>
<label> College :</label><br>
<input type="text" name="College" id="clz"><br><br>
<label> Phone number :</label><br>
<<<<<<< HEAD
<input type="number" name="PhNum" id="Pnum"><br><br>
=======
<<<<<<< HEAD
<input type="number" name="PhoneNumber" id="Pnum"><br><br>
=======
<input type="number" name="PhNum" id="Pnum"><br><br>
>>>>>>> 541cfcb6a5c45fecfe57d36695eb3a086b7b7eb5
>>>>>>> c03634edb189b857293e9ad3b7dc269b87d05b36
<label> Mobile number :</label><br>
<select id="ph">
<option>+91</option>
<option>+92</option>
<option>+93</option>
<option>+94</option>
</select>
<<<<<<< HEAD
<input type="number" name="MNum" id="Mnum"><br><br>
=======
<<<<<<< HEAD
<input type="number" name="MobileNumber" id="Mnum"><br><br>
=======
<input type="number" name="MNum" id="Mnum"><br><br>
>>>>>>> 541cfcb6a5c45fecfe57d36695eb3a086b7b7eb5
>>>>>>> c03634edb189b857293e9ad3b7dc269b87d05b36

<input type="submit" id="btn" value="update">

</form>
</div>

</body>
<<<<<<< HEAD
=======
<h2>fr</h2>
>>>>>>> 2bcff224429a259146eb6de66037d44f3bfebb59
=======
<<<<<<< HEAD
<h2>fr</h2>
=======
=======
<h2>fr</h2>
>>>>>>> 2bcff224429a259146eb6de66037d44f3bfebb59
>>>>>>> 541cfcb6a5c45fecfe57d36695eb3a086b7b7eb5
>>>>>>> c03634edb189b857293e9ad3b7dc269b87d05b36
