<!DOCKTYPE html>
<head>

<title> User details form</title>
</head>
<body>
<h1> Userform </h1>
<div class="Userform">
<form method="post" id="Userform" action=" ">
<label> First name :</label><br>
<input type="text" name="Fname" id="name" placeholder="Enter First name"><br><br>
<label> Last name :</label><br>
<input type="text" name="Lname" id="name" placeholder="Enter Last name"><br><br>
<label> Education details :</label><br>
<input type="text" name="Edudetails" id="details" placeholder="Enter education details"><br><br>
<label> About User :</label><br>
<input type="text" name="AbUser" id="aboutuser" placeholder="EnterSomething about user"><br><br>
<label> City :</label><br>
<input type="text" name="City" id="city" placeholder="Enter city"><br><br>
<label> College :</label><br>
<input type="text" name="College" id="clz" placeholder="Enter college"><br><br>
<label> Phone number :</label><br>
<input type="number" name="PhNum" id="Pnum"placeholder="Enter mobile no"<br><br>
<label> Mobile number :</label><br>
<select id="ph">
<option>+91</option>
<option>+92</option>
<option>+93</option>
<option>+94</option>
</select>
<input type="number" name="MNum" id="Mnum"placeholder="Enter mobile no"<br><br>

</form>
</div>
</body>
