<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <div class="sidenav text-center">
        <%= image_tag("user.png",size:"100x100", :class =>"rounded-circle")%>
          <h5>Member' Name</h5><hr>
           <a href="/searching">Dashboard</a><hr>
           <a href="profile">Profile</a><hr>
           <a href="map">Maps</a><hr>
           <a href="home">Logout</a><hr>
      </div>                        
    </div>
    <div class="col-sm-10">
  <div class="container-fluid">
   <div class="row">
   <div class="col-sm-6">
    <form class="form-group">  
       
          <label for="username">Username</label>
          <input type="text" class="form-control" id="Username" vlaue=" ">
          <label for="Email">Email</label>
          <input type="email" class="form-control" id="Email1" value=" ">
          <label for="Password">Password</label>
          <input type="password" class="form-control" id="password vlaue=" ">
          <button type="submit" class="btn btn-primary">Savechange</button>
      </form>
    </div> 
  <div class="col-sm-6">
  <form class="form-group">  
     
        <label for="firstname">FirstName</label>
        <input type="text" class="form-control" id="firstname" value=" ">
        <label for="lastname">LastName</label>
        <input type="text" class="form-control" id="lastname" value=" ">
        <label for="educationdetails">EducationDetails</label>
        <input type="text" class="form-control" id="educationdetails" value=" ">
        <label for="aboutuser">AboutUser</label>
        <input type="text" class="form-control" id="Aboutuser" value=" ">
        <label for="city">City</label>
        <input type="text" class="form-control" id="City" value=" ">
        <label for="college">College</label>
        <input type="text" class="form-control" id="college" value=" ">
        <label for="phonenumber">PhoneNumber</label>
        <input type="number" class="form-control" id="phonenumber" vlaue=" ">
        <label for="mobilenumber">MobileNumber</label>
        <input type="number" class="form-control" id="mobilenumber" vlaue=" ">


        <button type="submit" class="btn btn-primary">Savechange</button>
    </form>
  </div> 
</div>

 </div>
 </div>
 </div>
 </div>
</body>