//@import "bootstrap-sprockets";
//@import "bootstrap";
.sidenav {
  width: 16.667%;
  height: 100%;
  position: fixed;
  margin-top: 60px;
  z-index: 1;
  top: 0;
  left: 0;
  color:white;
  display:block;
  background-image: linear-gradient(to top,orange,red);
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}

.sidenav a {
  padding: 16px 8px 16px 16px;
  text-decoration: none;
  font-size: 23px;
  color: white;
  display: block;
}

.sidenav a:hover {
  background: black;
  color: #f1f1f1;
}
.sidebar-open{
  background:#e8e9eb;
  display: none;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  border-radius: 50%;
  color: orangered;
}
@media only screen 
and (min-device-width : 240px) 
and (max-device-width : 767px) {                                                                                                                                                        
  .sidenav {
    padding-top: 15px;
    display: none;
    width: 50%;
    z-index: 934583;
    margin-top: 0px;
  }
  .record-list{
    padding-left: 15px;
  }
  .col-sm-12{
    padding-left: 45px;
  }
  .main{
    margin-top: 50px;
  }
  .row{
    margin-left: -30px;
    margin-top: -10px;
  }
  .sidenav a {font-size:40px;}
  .sidebar-open{display: block;}
  .space-number-fields{
    margin-right: 0px;
    position: relative;
    right: 5%;
    width: 80%;
}
.navbar-brand{
  margin-left: 60px;
}
}

::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

::-webkit-scrollbar-track-piece  {
  background-color: white;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #0A4C95;
}
  #preloader{
    position:fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff 
    url('https://cdn.dribbble.com/users/1534154/screenshots/3388410/loading.gif') no-repeat center;
    z-index: 1;
  }
  #ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #li {
    float: left;
  }
  
  #navid {
    padding:0; 
    height:60px; 
    background-color:rgb(157, 214, 223)!important; 
    opacity:1 
  }
  
  #brand {
    font-size: xx-large;
    margin-left: 61px;
  }
  
  #aofli {
    background-color:rgb(157, 214, 223); 
    opacity:1;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #aofli:hover {
    background-color:white;
  }
  
  #message {
    float: right; 
    background-color: rgb(216, 103, 205); 
    margin-left: auto; 
    opacity: 1
  }
  
  #aofmessage {
    color: white; 
    opacity:1
  }
  
  #navbarSupportedContent
  {
    margin-left: 50px;
  }
  a.disabled {
  pointer-events: none;
  cursor: default;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}