
  body {
    font-family:"Loto" sans-serif;
  }
  
  .sidenav {
    
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color:white;
    display:block;
    background-image: linear-gradient(to top,orange,red);
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    margin-top:5.2%;
  }
  
  .sidenav a {
    padding: 16px 8px 16px 16px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    background: black;
    color: #f1f1f1;
  }
  .main{
    font-size: 15px;
    margin-top: 7%;
  
  }
  button{
    padding: 0px;
    background: none;
    border:none;
  
  }
  .card{
      background:white;
      margin: 0px;
      width: 100%;
      height:auto;
      border: none;
  }
  .card-footer{
    background: white;
  }
  .card-footer:hover{
    color: white;
    background-image: linear-gradient(to top,orange,red);
  }
  .card:hover{
      transform: scale(1.05);
      
  }
  .list-group{
      max-height: 400px;
      margin-bottom: 10px;
      margin-top: 20px;
      overflow:scroll;
      scroll-behavior: auto;
  }
  .form-control{
    font-size: 15px;
    background-color: white;
    border: none;
    border-style: none;
  }
  .media-left{
   height: auto;
   width: 200px; 
  }
  .media-object{
    height: auto;
    width: 200px; 
   }
   hr{
     margin-top: 10px;
     margin-bottom: 10px;
   }
   .record-table{
    max-height: 500px;
    margin-bottom: 10px;
    margin-top: 20px;
    overflow:scroll;
    scroll-behavior: auto;
   }
  @media screen and (max-width: 550px) {
    .sidenav {padding-top: 15px;display: none;}
    .sidenav a {font-size: 18px;}
  }

