// Place all the styles related to the searchings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ab{
  margin-top: 12px ;
}
// .shift{
//                    position: absolute;
//                     top: 384px;
//                     left: 342px;
//                     height: 30px;
//                     width: 50px;
// }
.col-sm-2{
  padding: 0%;
}
.col-sm-10{
  padding: 0%;
  margin-top: 16px ;
}



.record-table{
    max-height: 500px;
    margin-bottom: 10px;
    margin-top: 20px;
    overflow:scroll;
    scroll-behavior: auto;
   }
   @media only screen 
       and (min-device-width : 240px) 
       and (max-device-width : 767px) {  
         

       }