// Place all the styles related to the Spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side-bar{
    background-color: orangered;
    height: 100%;
}

.form-control{
    width: 80%;
}

.card{
    width: 100%;
}

.img{
    width: 100%;
    height: 100%;
    margin: 0%;
}

.card-body{
    padding: 0%;
}

#map{
    height: 500px;
    background-color: aqua;
}

.space-img{
    height: 400px;
    width: 100%;
}