

  <style>
  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
  
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color:white;
    display:block;
    background-image: linear-gradient(to top,orange,red);
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
  }
  
  .sidenav a {
    padding: 16px 8px 16px 16px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    background: black;
    color: #f1f1f1;
  }
  .main{
    font-size: 15px;
  
  }
  button{
    padding: 0px;
    background: none;
    border:none;
  
  }
  button:hover{
  
    background:blue;
    color:white;
  }
  .card{
    margin-top: 10px;
  }
  .card:hover{
      transform: scale(1.05);
      
  }
  .list-group{
      max-height: 400px;
      margin-bottom: 10px;
      margin-top: 20px;
      overflow:scroll;
      scroll-behavior: auto;
  }
  
  @media screen and (max-height: 550px) {
    .sidenav {padding-top: 15px;display: none;}
    .sidenav a {font-size: 18px;}
  }
  </style>
  <body style="background: #e8e9eb">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-xs-2">
          <div class="sidenav sidenav-collapse"  data-toggle="" id="demo">
    <div class="side-header">
      <img src="user.png" alt="Image" height="100px" width="100px">
      <h3>Owner's Name</h3>
    </div>
    <hr>
    <div class="nav-item">
    <a href="#about" class="active">Upcoming Bookings</a>
    <a href="#services">Spaces Details</a>
    <a href="#clients">Booking Record</a>
    <a href="#contact">Profile</a>
    <a href="#contact">Log Out</a>
    </div>
    </div>
    </div>
        <div class="col-sm-10 col-xs-10">
          <div class="main">
           <div class="container-fluid">
              <div class="row">
                <div style="background: grey;height: 50px"></div>
              </div>
              <button class="hidden visible-xs" style="float: right" data-toggle="collapse" data-target="#demo"  aria-expanded="false" aria-controls="demo"><i class="material-icons">&#xe5c3;</i></button>
              <h1>Upcoming Bookings...</h1>
              <div class="row text-center">
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-header">Booked</div>
                      <img src="p1.jpg" alt="Image" class="card-img-top" >
                      <div class="card-body">
                         <div class="card-title"><h3>location of space</h3></div>
                         <div class="card-text" >
                           <p style="display: inline;float: left">MON-SAT</p>
                           <p style="display: inline;float: right;">8AM-12AM</p>
                         </div>
                      </div>
                      <button><div class="card-footer">View Details</div></button>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <h1>Booked spaces</h1>
                  <ul class="list-group">
                  <li class="list-group-item ">
                    <div class="media">
                      <div class="media-left">
                        <img src="p1.jpg" class="media-object" style="width:100px;height: 100px;">
                       </div>
                      <div class="media-body text-right">
                        <h2 class="media-heading">Address</h2>
                        <h4>Monday-Saturday</h4>
                        <h4>8:00 AM - 12:30 PM</h4>
                        <h4>Booked</h4>
                         <button class="btn btn-primary">Details</button>
                      </div>
                    </div>
                  </li>              
              </ul>
                </div>
                <div class="col-sm-6">
                  <h1>Released spaces</h1>               
                  <ul class="list-group">
                  <li class="list-group-item ">
                    <div class="media">
                      <div class="media-left">
                        <img src="p1.jpg" class="media-object" style="width:100px;height: 100px;">
                       </div>
                      <div class="media-body text-right">
                        <h2 class="media-heading">Address</h2>
                        <h4>Monday-Saturday</h4>
                        <h4>8:00 AM - 12:30 PM</h4>
                        <h4>Checkout</h4>
                         <button class="btn btn-primary">Details</button>
                      </div>
                    </div>
                  </li>    
              </ul>
                </div>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </body>