<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div class="sidenav text-center">
            <%= image_tag("user.png",size:"100x100", :class =>"rounded-circle")%>
               <h5>Member' Name</h5><hr>
               <a href="/searching">Dashboard</a><hr>
               <a href="profile">Profile</a><hr>
               <a href="/allmap">Maps</a><hr>
               <a href="/booking">RecentBooked</a><hr>
                <%= link_to 'Log out', log_out_path, method: :delete %>
            </div>                        
        </div>