
            <div class="sidenav text-center">
            <% 
        
           
             @user= User.find_by_id(session[:user_id])
           

            %>
             <%= gravatar_for @user, size: 150%>
               <h5>Member' Name</h5><hr>
               <a href="/mainpage">Search</a><hr>
               <a href="profile">Profile</a><hr>
               <a href="/userbookingrecords">Booking Records</a><hr>
               <a href="/booking">Check Wallet</a><hr>
              
                <a href="/allmap">Maps</a><hr>
                <%= link_to 'Log out', log_out_path, method: :delete %>
                
            </div>                        
        