<!DOCTYPE html>
<html>
<head>
    <title>Membeship Plan</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navid">
<abbr title="Home"><a class="navbar-brand" id="brand"  href="user#index">3S-Club</a></abbr>


 <div  id="navbarSupportedContent">
   <ul>
     <li id="li">
       <a class="nav-link" href="#" id="aofli">Help</a>
      </li>
      <li id="li">
       <a class="nav-link" href="#" id="aofli">Contact</a>
     </li>
     <li id="li">
       <a class="nav-link" href="#" id="aofli">About Us</a>
     </li>
    </ul>
</div>
<div id="message">
      <% if session[:user_id] %>
        <% @show = User.find(session[:user_id]) %>
        <a class="nav-link" href="#" id="aofmessage">Welcome! <%=@show.email%></a>
      <% end %>
</div>
</nav>


</body>
</html>



