<div class="sidenav">
    <div class="side-header">
        <%= image_tag("user.png", size:"100x100", :class=>"rounded-circle")%>
        <h5>Owner's Name</h5>
    </div>
    <hr>
    <div class="nav-item">
        <a href="/owner_dashboard" class="active">Upcoming Bookings</a>
        <%= link_to 'Spaces Details', spaces_path %>
        <a href="#clients">Booking Record</a>
        <%= link_to 'Profile', edit_user_detail_path(@user) %>
        <a href="#contact">Log Out</a>
    </div>
</div>