<!DOCTYPE html>
<html>
<head>
	<title>Membeship Plan</title>
	

	<script>
		function myFunction1() {
		var txt;	
  		var r =confirm("Do you want to proceed?");
		if (r == true) 
		{	var p = 50.0;
			window.location.assign("http://localhost:3000/membership?p="+p,"_self")
  			alert("Your selected plan is successfully added to your wallet.")
		} 
		else 
		{
  			alert("Something went wrong please try again.")
		}
		}

		function myFunction2() {
		var txt;	
  		var r =confirm("Do you want to proceed?");
		if (r == true) 
		{	var p = 150.0;
			window.location.assign("http://localhost:3000/membership?p="+p,"_self")
  			alert("Your selected plan is successfully added to your wallet.")
		} 
		else 
		{
  			alert("Something went wrong please try again.")
		}
		}
</script>
</head>
<body>
	<div class="jumbotron">
  		<h1>Short Offer</h1>
  		<p>You will get 50 hours in your wallet for the building(s)/room(s)/land(s) you choose. </p>
  		<p><a class="btn btn-primary btn-lg" href="#" role="button" onclick="myFunction1()">Select</a></p>
	</div>
	<div class="jumbotron">
  		<h1>Long Offer</h1>
  		<p>You will get 150 hours in your wallet for the building(s)/room(s)/land(s) you choose. </p>
  		<p><a class="btn btn-primary btn-lg" href="#" role="button" onclick="myFunction2()">Select</a></p>
	</div>
</body>
</html>